{% extends 'base.html' %}
{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">

<div class="container my-3">

    <!-- 사용자오류 표시 -->
    {% if messages %}
    <div class="alert alert-danger my-3" role="alert">
    {% for message in messages %}
        <strong>{{ message.tags }}</strong>
        <ul><li>{{ message.message }}</li></ul>
    {% endfor %}
    </div>
    {% endif %}

    <h2 class="border-bottom py-2">{{ music.subject }}`s Chord Based Recommendation List</h2>

    <div class="row my-3">

        <div class="card">
                <div class="card-body">
                    <div class="my-3 py-2 text-center">
                        <div id="loading">
                            <img id="loading-image" src="{% static '/image/sample.gif' %}" alt="Loading..." />
                            <br>
                            <img id="load" src="{% static '/image/30.gif' %}" alt="Loading..." />
                            <p><strong>Generating Music Sheet...</strong></p>
                        </div>
                    </div>
                </div>
        </div>






    </div>
</div>

{% endblock %}

{% block script %}


<!-- code appendix from : https://codepen.io/chrisdpratt/pen/RKxJNo-->
<script type="text/javascript">

$.ajax({
        url: '{% url 'musicboard:music_recommend_music' music.id %}',
        method: 'GET',

        dataType: 'json',
        success: function (data){
            $("#div_id").html(data.query_data);
        },
        error: function(e){
            console.log(e);
        }



    });





</script>
{% endblock %}